@model IEnumerable<CarouselSlider_Demo.Models.ImageSlider>

@{
    ViewBag.Title = "Home Page";
}

<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        @{int i = 0;}
        @foreach (var image in Model)
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="carousel-item @active">
                <img src="@Url.Content(image.ImagePath)" alt="@image.ImageName" class="img-fluid">
            </div>
        }
    </div>
</div>
